.container-fluid{
    position: relative;
    
    background: #F1F1F1;
    
    padding:0;
    margin:0;
    
}

#ColLeft{
    background-image: url("../img/loginPicLeft.jpg");
    
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
   
}


#TopLeft{
    position: relative;
    height: 81.51vh;
    z-index: 11;
    background: rgba(48,48,48,0.6);
    
}
#loginShowcasePic{
    position: relative;
    width: 81%;
    height: 44%;
    left: 5%;
    top: 66%;
    
    
}

#BotLeft{
    position: relative;
    height: 18.49vh;
    left: 0;
    bottom:0;
    z-index :0;
    background: #686868;
    opacity: 0.8;
}
#copyright{
    padding: 0;
    margin:0;
    position: relative;
    width: 33%;
    left: 5%;
    bottom:25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
    
    color: #C4C4C4;
}
#loginLogo{
    position: relative;
    margin-left: 58%;
    margin-right: 4%; 
    width: 40%;
    
    margin-top: 2%;    
}

#loginForm{
    position: relative;
    width:115%;
    height: 77vh;
    top:4%;
    
    margin-left: -13%;
    z-index: 20;
    background:#FFFFFF;
    padding:0;
}
#dangnhapText{
    position: relative;
    width: 68%;
   
    left: 16%;
    margin-top: 9%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: justify;

    color: #303030;
   

}
#loginFormGroup{
    position: relative;
    margin-top: 8%;
    left:16%;
    
    width: 57%;
}
#emailFormGroup{
    width: 100%;
}
#passwordFormGroup{
    width: 100%;
}
#loginBtn{
    position: relative;
    width:100%;
    margin-top: 10%;

    background: #303030;
    border-radius: 5px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: normal;
    text-align: center;
    overflow: hidden;
    color: #FEAF34;
}

#loginFormLeftCol{
    height: 100%;
}
#loginRightCol{
    
    
    background-image: url("../img/loginPicRight.jpg");
    background-size:     cover;        
    background-repeat:   no-repeat;
    background-position: center center; 
}
#tempCont{
    
    height: 100%;
}
#RowJump{
    height: 100%;
}
/*324*/


#forgetLink{
   
    
    margin-left:0;
    margin-top : 10%;
    
    text-align: center;
    
    
}
#registerLink {
    margin-left:0;
    margin-top : 10%;
    text-align: center;
}

