#FooterContainer{
    
    margin:0;
    padding:0;
    max-height: 28vh;
}


#TopFooter{
    background:#FFFFFF;
    
}
#logoCol{
    
    padding:0;
    margin:0;
    padding-left: 5.4%;
    padding-top: 2%;
}

#FooterLogo{
    margin:2%;
    max-width: 194px;
    max-height: 46px;
   
        
}

#allRight{
    
   

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    color: #686868;
}


#UDCol{
    margin:0;
    padding:1%;
   
}

#TextUD{
    
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: justify;

    color: #303030;
}
#HTCol{
    margin:0;
    padding:1%;
}
#HTCol .nav-link{
    padding:2%;
    margin:0;
    
}
#imgAppstore{
    width: 135px;  
    height: 40px;
}
#imgGooglePlay{
    width: 135px;  
    height: 40px;

}
#TextHoTro{
    margin-left:2%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: justify;

    color: #303030;
}
.nav-link{
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    color: #686868;
}

