

#SellerHeader{
    background: #FFFFFF;
     list-style-type:none;
     margin:0;
     padding:0;
     
     font-family: 'Roboto', sans-serif;
 
 }
 
 #NavHeaderSearch{
     width:41vw;
     padding:0;
     padding-top:2%;
     padding-bottom:1%;
 
     margin:0;
     margin-left:0%;
     margin-right:10%;
   
     
 }
 
 
 #searchProductName{
     position: relative;
     width: 100%;
     
     
     
     font-family: FontAwesome;
     
 }
 
 
 #HeaderSearchBtn{
    
     position: relative;
     
     
     background: #303030;
     border-radius: 5px;
     font-family: 'Roboto', sans-serif;
     font-style: normal;
     font-weight: bold;
     line-height: auto;
     font-size: 0.9em;
     text-align: auto;
 
     color: #FEAF34;
 }
 
 #NavLoginSignUp{
     
     
     width:30vw; 
     
     
     
     
 }
 
 #dangtinText{
     
     overflow: hidden;
     text-overflow: ellipsis;
     word-wrap: break-word;
 
     
 }
 
 #dangnhapText{
     overflow: hidden;
         text-overflow: ellipsis;
         word-wrap: break-word;
 }
 
 #profilePic{
     margin-left:5%;
     border-radius: 50%;
     width:50px;
     height: 50px;
     background: lightblue;
     
 }
 /*
 @media screen and (max-width: 1069px){
     
     #dangtinText{
         font-size:5px;
     }
     
     #searchBtn{
         font-size:10px;
         
     }
 }
 @media screen and (max-width: 650px){
     #dangtinText{
         font-size:2px;
     }
     #searchBtn{
         font-size:8px;
         
     }
     
 }*/
 