#infoBtn{
    background: #303030;
    border-radius: 5px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: #FEAF34;
    margin-bottom: 5%
}